<launch>
    <!-- <rosparam command="load" file="$(find your_package)/config/params.yaml" /> -->
    <!-- <node pkg="rosbag_contral" type="add_ring_node.py" name="add_ring_node" output="screen" /> -->
    <node pkg="rosbag_contral" type="pose_to_tum.py" name="pose_to_tum_node" output="screen" />
</launch>